.progress-bar {
  display: flex;

  label {
    flex-grow: 1;
    display: flex;
    position: relative;
    height: 1em;
    font-size: 2em;
    border: 1px solid var(--border);
    color: var(--text);
    
    &.active {
        border-color: var(--active);
        color: var(--active);
        progress::-webkit-progress-value {
            background-color: var(--active);
        }

        &:hover {
            border-color: var(--hover);
            color: var(--hover);
            progress::-webkit-progress-value {
                background-color: var(--hover);
            }
        }
    }

    span {
      text-transform: uppercase;
      font-family: monospace;
      padding: 0 0.5em;
    }

    progress {
      flex-grow: 1;
      -webkit-appearance: none;

      &::-webkit-progress-bar {
        background-color: var(--background);
      }
      &::-webkit-progress-value {
        background-color: var(--text);
      }
    }

    span,
    svg {
      background: var(--middle);
      position: absolute;
      height: 100%;
    }

    svg {
      right: 0;
      cursor: pointer;
    }
  }
}
